


.studio-header {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.web {
    color: blue;
    margin-right: 0;
}



.a-web {
    text-decoration: none;
}




.logo-link{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: #4D5AE5;
text-decoration: none;
}

.span-header {
    color:  white;
}


.p-info {
    color: #434455;
}

.number {
    color: #434455;
}

.body {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    background-image: url(./images/people-office\ 1\ \(2\)-photoaidcom-darken.jpg);
}



.ul-body {
    list-style: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

/* .li-body {
    padding-bottom: 48px;
    font-size: 56px;
    margin-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    width: 270px;
} */

.title {
    font-size: 56px;
    margin-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    width: 496px;
    line-height:1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;


}

.btn-body {
    background-color: blue;
    color: white;
    width: 169px;
    height: 56px;
    text-align: center;
}


.btn-body:hover {
    background-color: cornflowerblue;
}



.ul-characters {
    list-style: none;
    display: flex;
}

.li-strategy {
    margin-right: 0;
}

.svg {
    display: flex;
    justify-content: center;
    background-color: #2E2F42;
    width: 264px;
    height: 112px;
    align-items: center;
    margin-right: 0;
}

.h2 {
    color: #2E2F42;
    margin-top: 0;
}

.p-strategy {
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}



.what {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}


.doing {
    margin-top:120px;
}


.ul-doing {
    list-style: none;
    display: flex;
    /* align-items: center; */
}

.programs {
    margin-right: 24px;
    margin-left: 80px;
}

.mobile {
    margin-right: 24px;
}

.team {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}


.personal {
    margin-top: 120px;
    background-color: #F4F4FD;
}

.ul-personal {
    list-style: none;
    display: flex;
    margin-bottom: 120px;
    padding-left: 120px;
}

.mark {
    margin-right: 24px;
    /* background-color: white; */
}

.h2-mark {
    display: flex;
    justify-content: center;
}

.p-mark {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.ul-icon {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.use{
    border-radius: 50%;
    background-color: blue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}


.tom {
    margin-right: 24px;
    background-color: whitesmoke;
}

.camila {
    margin-right: 24px;
    background-color: whitesmoke;
}


.daniel {
    background-color: whitesmoke;
}

.div-logo {
    margin-bottom: 120px;
}

.h2-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}


.ul-logo {
    list-style: none;
    display: flex;
    justify-content: center;
}

.li-logo{
    width: 168px;
    height: 88px;
    border-color: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer {
    position: absolute;
    display: flex;
    /* justify-content: space-around; */
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}




.ul-footer {
    list-style: none;
    /* display: flex; */
}


.li-footer {
    padding-top: 100px;
    padding-left: 150px;
}

.p-footer {
    padding-left: 150px;
    width: 264px;
    color: #F4F4FD;
}

.div-footer {
    display: flex;
}

.li-p{
    display: flex;
}


.p-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-social {
    position: relative;
    top: 100px;
    list-style: none;
    /* display: flex; */
    align-items: center;
}

.li-social {
    position: relative;
    top: 16px;
    bottom: 132px;
    width: 168px;
    height: 88px;
    border-color: #8E8F99;
}


.li-twitter {
    position: relative;
    bottom: 72px;
    width: 168px;
    height: 88px;
    left: 45px;
}


.li-facebook {
    width: 168px;
    height: 88px;
    position: relative;
    bottom: 162px;
    left: 80px;
}

.li-li {
    width: 168px;
    height: 88px;
    position: relative;
    bottom: 250px;
    left: 120px;
}



/* PORTFOLIO */

.portfolio {
    text-decoration: none;
    color: white;
}

.portfolio-a {
    text-decoration: none;
    color: white;
}



.ul-buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}



.li-all {
    padding-right: 24px;
}


.all {
    background-color: #E7E9FC;
    color: #4D5AE5;
    width: 55px;
    height: 35px;
}


.all:hover {
    color: white;
    background-color: #404BBF;
    border-color:#404BBF ;
}


.li-site {
    padding-right: 24px;
}

.site {
    background-color:#E7E9FC ;
    color: #4D5AE5;
    width: 90px;
    height: 35px;
}

.site:hover {
    color: white;
    background-color: #404BBF;
    border-color:#404BBF ;
}

.li-app {
    padding-right: 24px;
}


.app {
    background-color: #E7E9FC;
    color:#4D5AE5 ;
    width: 55px;
    height: 35px;
}

.app:hover {
    color: white;
    background-color: #404BBF;
    border-color:#404BBF ;
}


.li-design {
    padding-right: 24px;
}

.design {
    background-color: #E7E9FC;
    color: #4D5AE5;
    width: 85px;
    height: 35px;
}

.design:hover {
    color: white;
    background-color: #404BBF;
    border-color:#404BBF ;
}

.marketing {
    background-color:#E7E9FC ;
    color:#4D5AE5 ;
    width: 115px;
    height: 35px;
}


.marketing:hover {
    color: white;
    background-color: #404BBF;
    border-color:#404BBF ;
}


.photo-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-li {
    margin-right: 24px;
}

.photo-h2 {
    color: #2E2F42;
}


.photo-p {
    margin-bottom: 80px;
    color: #434455;
}